<!--sidebar -->
<section
  class="d-flex flex-column align-items-center p-3"
  style="background:#FFC107; width:350px; height:100vh;"
>

  <!-- ADMIN CARD -->
  <div
    class="w-100 text-center rounded p-4 mb-4"
    style="background: rgba(255,255,255,0.35);"
  >
    <img
      src="https://static.vecteezy.com/system/resources/previews/016/774/588/original/3d-user-icon-on-transparent-background-free-png.png"
      width="60"
      class="mb-2"
    >
    <h6 class="fw-bold mb-0">Admin Panel</h6>
    <small>CookWithMe</small>
  </div>

  <!-- MENU -->
<div class="d-grid gap-3 w-100 px-3">

  
    <button class="btn btn-warning text-start fw-semibold d-flex align-items-center gap-3">
      <i class="bi bi-bar-chart"></i> Dashboard
    </button>
  

  <button class="btn btn-warning text-start fw-semibold d-flex align-items-center gap-3">
    <i class="bi bi-egg-fried"></i> Recipes
  </button>

  <button class="btn btn-warning text-start fw-semibold d-flex align-items-center gap-3">
    <i class="bi bi-people"></i> Users
  </button>

  <button class="btn btn-warning text-start fw-semibold d-flex align-items-center gap-3">
    <i class="bi bi-download"></i> Downloads
  </button>

  <button class="btn btn-warning text-start fw-semibold d-flex align-items-center gap-3">
    <i class="bi bi-inbox"></i> Requests
  </button>

</div>




<div class="mt-auto w-100 mb-5 ">
    <hr class="border-dark">

    <button id="logout-btn" class="btn btn-warning text-start fw-semibold d-flex align-items-center gap-3 w-100">
      <i class="bi bi-box-arrow-in-left"></i> Log out
    </button>
  </div>


</section>